:host {
    position: relative;
}

.popover {
    width: 150px;
    position: absolute;
    bottom: -200%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    opacity: inherit;
    z-index: 1;
    font-size: 0.7em;
}
