<div class="details-container">

    <div class="content">

        <div class="top-bar">
            <h3>
                {{showDetails?.name}}
            </h3>
        </div>
        
        <div class="image-summary-container">
            <div>
                <h5>Summary: </h5>
                <p [innerHTML]="showDetails?.summary"></p>
            </div>

            <img [src]="showDetails?.image?.medium" alt="">
        </div>

        <button class="primary-outlined close-btn" (click)="closeDetails()">Close</button>
    </div>


</div>