$danger-button-color: #f44336;

:host {
    flex-basis: 50%;
}

.details-container {
    padding: 0 10px;

    .content {
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin: 0 0.6em;
        border-radius: 10px;
        background-color: #F9F9F9;

        p, h3, h5 {
            margin: 5px;
        }

        h3, h5 {
            text-transform: uppercase;
        }

        .image-summary-container {
            display: flex;
            flex-direction: row;
        }

        img {
            width: 30%; 
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.132);
        }

        button {
            width: 100%;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

    }

    .top-bar {
        background-color: #9FDEFF;
        border-top: inherit;
        border-left:  inherit;
        border-right: inherit;
        padding-top: 0.5em;
        padding-bottom: 0.2em;
        border-bottom: none;
        margin-bottom: 0.5em;
        text-align: center;

    }

}
