$danger-button-color: #f44336;


.details-container {
    flex-basis: 50%;
    padding: 0 10px;

    .content {
        overflow: auto;
        margin: 0 0.6em;
        border-radius: 10px;
        background-color: #eeeeee;

        p, h3, h5 {
            margin: 0 0 0.5em 0.5em;
        }


    }

    .top-bar {
        background-color: #9FDEFF;
        border-top: inherit;
        border-left:  inherit;
        border-right: inherit;
        padding-top: 0.5em;
        padding-bottom: 0.2em;
        border-bottom: none;
        margin-bottom: 0.5em;
        text-align: center;

        .close-button {
            background-color: $danger-button-color;
            float: left;
            margin-right: 5px;
            margin-left: 5px;
            height: 15px;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.132);
            border-radius: 50%;

            &:hover {
                background-color: rgb(184, 0, 3);
            }
        }
    }

    img {
        float: right;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.132);
    }
}

:host {
    flex-basis: 50%;
}