<div class="add-film-container">
    <form [formGroup]="filmForm" (ngSubmit)="onSubmit()">

    <label for="id">ID</label>
    <input id="id" type="text" formControlName="id">

    <label for="title">Title</label>

    <input list="film-options" id="title" type="text" formControlName="title" [matAutocomplete]="filmList">

    <mat-autocomplete #filmList="matAutocomplete">
        @for (film of filmOptions; track film) {
          <mat-option [value]="film.show.name">{{film.show.name}}</mat-option>
        }
      </mat-autocomplete>
    
    <button class="primary" type="submit">Submit</button>
</form>
</div>
