.add-film-container {
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;

    label {
        display: inline;
        margin-right: 3px;
    }

    input {
        padding: 5px;
        margin-right: 3px;
    }

    button {
        margin-left: 3px;
    }
}