<app-add-film (addingFilm)="addFilm($event)"></app-add-film>

    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Serientitel
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (films.length > 0) {
                @for ( film of films ; track $index) {

                    @if (filmToEdit == film) {
                        <tr app-edit-film-form [film]="filmToEdit" (onFilmUpdated)="handleFilmUpdated($event)"></tr>
                    } @else {
                        <tr>
                            <td (dblclick)="navigateToFilm(film.mazeId)">{{film.id}}</td>
                            <td (dblclick)="navigateToFilm(film.mazeId)">{{ film.title }}</td>
                            <td>
                                <button class="danger" (click)="deleteShow(film.docId ?? '')">Delete</button>
                                <button class="primary" (click)="editFilm(film)">Edit</button>
                            </td>
                        </tr>
                    }
                }
            }
           
        </tbody>
    </table>

    <app-modal [isOpen]="feedbackOpen" [dialogTitle]="feedbackTitle">
        {{feedbackMessage}}
    </app-modal>

