/* You can add global styles to this file, and also import other style files */
main {
  display: flex;
  box-sizing: border-box;
}

$highlight-color: #f3f3f3;
$primary-button-color: #4CAF50;
$danger-button-color: #f44336;

h3 {
    margin: 5px;
}

table {

  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-sizing: border-box;

  tr:hover {
    background-color: $highlight-color;
    border-bottom: rgba(137, 43, 226, 0.281) 2px solid;
  }

  tr.selected {
    border-bottom: blueviolet 3px solid;
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    width: 33%;

    &.title {
      text-decoration: underline;
    }

  }

  input {
    width: 100%;
    max-width: 80%;
    padding: 5px;
  }

  .active-row {
    background-color: $highlight-color;
  }
}

button {
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }

  &.primary-outlined {
    background-color: transparent;
    color: $primary-button-color;
    border: 1px solid $primary-button-color;

    &:hover {
      background-color: $primary-button-color;
      color: white;
    }
  }

  &.primary {
    background-color: $primary-button-color;

    &:hover {
      background-color: #45a049;
    }
  }

  &.danger {
    background-color: $danger-button-color;

    &:hover {
      background-color: #a94442;
    }
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
